/* 	Last updated: 11/23/2015
		Coded by: Yan Shi 
		How the 1969 Stonewall Riots triggered the gay and lesbian rights movement 
		and spawned a snowstorm of dissident media to support the cause. 
																					*/

body 
	{  
		margin: 50px 200px; 
		background-color: white; 
		width: 1280px;
	
	}
/*Navigation Bar*/ 


.clearfix:after{
	display: block; 
	clear: both; 
}
.naivgation{
	width: 100%; 
}

.menu {
	width: 1000px;
	margin: 0px auto; 
}

.menu li{ 
	margin: 0px; 
	list-style-type: none; 
	font-family: Tahoma; 
	}

.menu a{
	color: white; 
}

.menu li:hover > a, .menu .currentitem >a{ 
	text-decoration: none; 
	color: white; 

}

.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:13px;

}
 
.menu > ul > li > a {
    padding: 10px 66px;
    display:inline-block;
    background-color: black; 
    text-decoration: none; 

 }
 
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:#3d3d5c;
}
 
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}
 
.sub-menu {
    width:160%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    background: #2e2728;
}
 
.sub-menu li {
    display:block;
    font-size:12px;
    text-decoration: none; 
}
 
.sub-menu li a {
    padding:10px 30px;
    display:block;
    text-decoration: none; 
}
 
.sub-menu li a:hover, .sub-menu .current-item a {
    background: #3d3d5c;

}

.title1{
	font-size: 45px; 
	background-color: black;
	color: white; 
	padding: 30px;
	text-align: center; 
}

.title2{
	font-size: 20px; 
	background-color: black;
	color: white;  
	padding: 10px;
	text-align: center; 
	margin: 40px 40px;
}

#container{ 
	background-color: white;
	margin: 5px;
	padding: 20px;

}

#image1{
	padding: 50px;
	margin-right: 20px;
	float: left;
}

#image2{
	padding: 50px;
	margin-left: 20px;
	float: right;
}

#paragraphs{
	margin: 0px;
	padding: 85px;
	border: 1px solid black;

}

#text{

	font-size:12px;
	float: left;
}




